.main-content{
    align-content: center;
    text-align: center;
    padding-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    border-style: groove;
    background-color: #32383e;
}

.table-padding{
    padding-top: 2%;
}

.white-text{
    color: whitesmoke;
}

.headings{
    text-align: center;
    color: whitesmoke;
}